{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="center">
        <img class="logo-form" src="assets/images/my-todo-ligth.png" alt="My ToDo">
        <h1>Please sign in</h1>
    </div>

    <div>
        <label for="inputEmail">Email address</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" required autofocus>
    </div>


    <div>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" autocomplete="current-password" required>
    </div>


    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
  
    <div>
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button type="submit">
        Sign in
    </button>

</form>

    <div class="center">
        <p>You not have an account ? <a href="/register">Sign Up here</a>!</p>
        <p>© 2023</p>
    </div>


{% endblock %}